/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/git_toolbox_prj.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml

/target/classes/application.properties
/target/classes/templates/index.html
/.idea/jpa-buddy.xml
/target/classes/com/example/springbootwebsocket/domains/Message.class
/target/classes/com/example/springbootwebsocket/domains/OutputMessage.class
/target/classes/static/js/sockjs-0.3.4.js
/target/classes/com/example/springbootwebsocket/SpringBootWebsocketApplication.class
/target/classes/static/js/stomp.js
/target/classes/com/example/springbootwebsocket/WebSocketConfigurer.class
/target/classes/com/example/springbootwebsocket/WebSocketController.class
